#plasmo-shadow-container {
  z-index: 99999;
}

#plasmo-overlay-0 {
  display: flex;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
}

#plasmo-inline {
  background: blue;
}

.container {
   display: flex;
   background: (rgba($color: #000000, $alpha: 0.5));
   padding: 16px;
   width: 100%;
   height: 100vh;
 }

